@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&family=Roboto+Flex&family=Ubuntu:ital@1&display=swap');
body{
    line-height: 1.5;
    font-family: 'Kanit', sans-serif;
    
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.containerf{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer {
    background-color: rgba(146, 146, 140, 0.568);
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px
}

.footer-col h4{
    font-size: 24px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: fixed;
}

.footer-col h4{
    font-size: 24px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 150px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;

}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #302a2a;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color:#ffffff;
    transition: all 0.5 ease;
}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}

@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 550px){
    .footer-col{
        width: 100%;
    }
}