/* Custom CSS for ForgotPassword page */

 
  .forgot-password-form {
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 30px;
    background-color: #9DA5C9;
  }
  
  .forgot-password-form h1 {
    font-size: 28px;
  }
  
 .forgot-password-form-control {
    font-size: 18px;
    border: 1px solid #000000;
  }


  .btn-dark {
    background-color: #343a40;
    border-color: #343a40;
  }
  
  .btn-dark:hover {
    background-color: #000000;
    color: #FFFFFF;
  } 
  

  