/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
#principal {
  margin-top: 110px;
}
h1, #slogan{
color: rgb(111, 103, 228)
}


@import url('https://fonts.googleapis.com/css?family=Oswald:500');

.back{

position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: white;
z-index: -1;


}

nav{
min-width: 100%;
height: 4em;
position: fixed;
top: 0;
left: 0;
text-align: center;
align-items: center;
padding-top: 1em;
z-index: 999;
background-color:white;
}
nav a{
font-family: 'Oswald', sans-serif;
font-weight:500;
text-transform:uppercase;
text-decoration:none;
color:#16151b;
margin:0 10px;
font-size:20px;
letter-spacing:1px;
position:relative;
display:inline-block;
}
nav a:before{
content:'';
position: absolute;
width: 100%;
height: 3px;
background:#16151b;
top:47%;
animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
0%{
  width: 0;
  left:0;
  right:auto;
}
100%{
  left:0;
  right:auto;
  width: 100%;
}
}
@keyframes out{
0%{
  width:100%;
  left: auto;
  right: 0;
}
100%{
  width: 0;
  left: auto;
  right: 0;
}
}
@keyframes show{
0%{
  opacity:0;
  transform:translateY(-10px);
}
100%{
  opacity:1;
  transform:translateY(0);
}
}

nav a:nth-child(1) {
  animation: show 0.2s 0.1s ease 1 both;
}

nav a:nth-child(2) {
  animation: show 0.2s 0.2s ease 1 both;
}

nav a:nth-child(3) {
  animation: show 0.2s 0.3s ease 1 both;
}

nav a:nth-child(4) {
  animation: show 0.2s 0.4s ease 1 both;
}

nav a:nth-child(5) {
  animation: show 0.2s 0.5s ease 1 both;
}

.close-session-button {
  position: relative;
  color: rgb(0, 0, 0);
  border:  1px solid rgb(0, 0, 0);
  background-color: #777DBD;
  opacity: 0.9;
}

.close-session-button:hover {
  opacity: 1;
}

.close-session-button:active {
  opacity: 0.9;
}




/* Agrega estilos para pantallas móviles */
@media (max-width: 576px) {
  .navbar{
    align-items: center;
    margin-top: 10px;
    font-size: 0.75rem;
  }

  .navbar a {
    /* margin: 10px 10px; */
    font-size: 0.75rem;
  }

  .private-area-items {
    align-items: center;
    text-align: center;
    margin: 10px 10px;
  }

  .close-session-button {
    size: 2px;
    margin-top: 10px;
  }
}



