.modify-user-data-form {
    border: 1px solid #000000;
    background-color: #9DA5C9;
    border-radius: 10px;
}

.disabled-input {
    opacity: 0.5;
}

.input-wrapper-mod {
    display: flex;
    position: sticky;
 }