.card {
	width: 250px;
	height: 350px;
	color: #151515;
	perspective: 800px;
	border:#151515 1px solid;
}
.card__inner {
	position: relative;
	height: 100%;
	transform-style: preserve-3d; 
	transition: transform 0.8s;
	border:#151515 1px solid;
}

.card:hover .card__inner {
	transform: rotateY(-180deg);

}
.card__side {
	position: absolute;
	inset: 0;
	background-color: #fff;
	display: grid;
	grid-template-rows: 180px 1fr;
	backface-visibility: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
	
	
}
.card__side--back {
	transform: rotateY(180deg);

}
.card__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-bottom: #151515 1px solid;
}

.card__image--score {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	border-bottom: #151515 1px solid;
}

.card__body {
	padding: 16px;
	font-size: 14px;
}

.card__body--flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card__title {
	font-size: 15px;
	text-transform: uppercase;
	margin-right: 10px;

}

.btn-custom {
	font-size: 1.25rem;
	background-color: #37459A;
	color: white;
  }

.btn--body-custom {
	background-color: #777DBD;
	opacity: 0.9;

}

.btn--body-custom:hover {
	opacity: 1;
}
  

