.opiniones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 95%;
}

.opinion-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 50%;
  width: 30%;
}

.image-container {
  width: 95%;
  height: 100%;
  margin: auto;
}

.image-container img {
  width: 95%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.details-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 2px;
}

.opinion-title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 1px;
}

.information {
  font-size: 20px;
  padding: 2px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.star-row {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px; /* Ajustar el valor de la altura según tus necesidades */
}

.button-64 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .opiniones {
    justify-content: center;
    flex-direction: column;
  }
  .opiniones {
    width: 100%;
  }
  .opinion-card {
    width: 100%;
  }
  .star-row {
    height: 50px; /* Ajustar el valor de la altura según tus necesidades */
  }
  .image-container img {
    width: 100%;
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }
}
