.opiniones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 90%;
}

.opinion-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 30%; /* Por defecto, 3 opiniones por fila */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; /* Asegura que los elementos dentro de la tarjeta estén en una columna */
  align-items: flex-start; /* Alinea los elementos en la parte superior de la tarjeta */
  max-height: 350px; /* Establece una altura máxima para evitar que las tarjetas se hagan excesivamente altas */
}

@media screen and (max-width: 768px) {
  .opiniones {
    justify-content: center;
  }

  .opinion-card {
    width: 80%; /* Cambia a una columna cuando el ancho del navegador es menor a 768px */
  }
}

.image-container {
  width: 100%;
  height: 150px; /* Establece una altura fija para todas las imágenes */
  margin-bottom: 10px; /* Añade un espacio en la parte inferior de la imagen */
}

.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px; /* Agrega un poco de espaciado dentro del contenedor */
}

.opinion-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.information {
  font-size: 14px;
}

.star-row {
  display: flex;
  align-items: center;
}

.star-row .star-small {
  width: 15px;
  height: 15px;
  margin-right: 3px;
}